.hh3, .info .about-client h4 {
  text-align: left;
  color: darkgray;
  padding: 25px;
  text-decoration: dotted;
}

.text-ae {
  justify-content: center;
  text-align: center;
  border: 1px solid white;
  background: rgb(255, 255, 255);
}
.text-ae a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.text-ae a:hover {
  color: rgb(9, 177, 177);
}

.container-ae {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 25px;
}

/*Boton de busqueda*/
/*Imagen hero*/
.banner {
  position: relative;
  width: auto;
  height: calc(100vh - 55px);
  background-color: #f5f5ff;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
  background-image: url(../img/principal/Italia.jpg);
}
.banner .banner-content {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: rgba(0, 22, 40, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .banner-content h1 {
  margin: 0%;
  padding: 0%;
  padding-bottom: 30px;
  font-size: 40px;
  text-align: center;
}
.banner a {
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  padding: 9px 20px;
  border: 1px solid #FFF;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.banner a:hover {
  background-color: #FFF;
  color: #333;
}

/*Termina la imagen Hero*/
.hh2 {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  color: rgb(85, 85, 85);
}

.card2 {
  padding: 5px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  opacity: 1;
}
.card2:hover {
  transform: translate(-10px);
  box-shadow: 0 12px 16px rgb(0, 0, 0);
  padding-left: 10px;
}
.card2 h5 {
  font-weight: 600;
}
.card2 p {
  color: darkgray;
}
.card2 a {
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none;
}
.card2 a:hover {
  color: rgb(76, 219, 219);
  transition: 0.2s;
}

.hh1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: monospace;
}

.galeria {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.galeria img {
  max-width: 400px;
  padding: 1rem;
}

/*Main*/
.bottomm, .site-main .site-banner button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 9px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.site-main {
  /*Quien soy*/
}
.site-main .site-banner {
  /*tittle*/
  /*tittle*/
}
.site-main .site-banner .site-title {
  /*h3*/
  /*h3*/
}
.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}
.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}
.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}
.site-main .site-banner .site-title h3::after {
  content: " ";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
/*Cierra main*/
/*Quien soy*/
.concor {
  border: 1px solid rgb(121, 121, 121);
  margin-top: 25px;
  padding: 15px;
  margin-left: 5px;
}
.concor p {
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
}
.concor h1 {
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.hh3, .info .about-client h4 {
  font-size: "calibri";
  font-size: 30px;
  color: rgb(41, 41, 41);
}

.info .about-client p {
  font-size: 1.5rem;
  margin-left: 10px;
}
/*Cards*/
.titulo {
  margin-top: 30px;
  height: 100px;
}

.titulo2 {
  margin-top: 70px;
  height: 100px;
}

/* Section Servicios*/
.brd {
  margin-top: 30px;
  background: rgb(224, 235, 245);
  border-radius: 18px;
  padding: 50px;
}
.brd .hhh1 {
  text-align: center;
  justify-content: center;
  color: rgb(92, 92, 92);
}

/*Section*/
.services-area {
  padding: 1rem;
}
.services-area .services-title h1 {
  font-size: 35px;
}
.services-area .services-list .services {
  border: 1px solid rgb(246, 255, 116);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.973);
  padding: 25px;
  width: auto;
  margin: 25px;
  transition: box-shadow 0.7s ease;
}
.services-area .services-list .services .ppp {
  font-size: 35px;
  color: rgb(19, 168, 255);
}

.hhh2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.hhh2:hover {
  color: rgb(2, 128, 212);
}

.ppp2 {
  font-size: 35px;
  color: rgb(19, 168, 255);
}
.ppp2 .span {
  color: black;
  font-size: 18px;
  font-weight: 300;
}

/*Cierra*/
/*Terminos y condiciones*/
.terycon {
  margin-top: 20px;
  height: 50px;
  color: rgb(0, 0, 0);
  align-items: center;
}
.terycon a {
  border-radius: 8px;
  text-decoration: none;
  color: rgb(5, 5, 5);
  padding: 9px 20px;
  border: 1px solid rgb(4, 166, 187);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.terycon a:hover {
  background-color: rgb(56, 56, 56);
  color: rgb(4, 166, 187);
}

/*Cierra*/
.btn-neon {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  letter-spacing: 4px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 8px;
}
.btn-neon:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px black, 0 0 20px black, 0 0 35px black;
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: "calibri";
}/*# sourceMappingURL=style.css.map */