.carrusel-caption{
    background: black;
    opacity: 0.5;
    .h5{
        font-size: 2rem;
        margin-top: 1;
        margin-bottom: 0.5rem;
        font-weight: 50rem;
        line-height: 1rem;
        color: slategrey;
    }
}