*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body de Menu de registro*/
.bkc{
    background:rgb(223, 253, 250);
}
/*Cierra Menu*/

/*Body*/
.bkc2{
    background: rgb(238, 254, 255);
}
/*Cierra*/