.btn-neon{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    background: black;
    letter-spacing: 4px;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 8px;
    &:hover{
        color: rgb(98, 255, 208);
        background: rgb(0, 0, 0);
        box-shadow: 0 0 10px black, 0 0 40px black, 0 0 80px black;
        transition: 1s;
    }
}