/* Section Servicios*/
.brd{
    margin-top: 30px;
    background: rgb(224, 235, 245);
    border-radius: 18px;
    padding: 50px;
    .hhh1{
    text-align: center;
    justify-content: center;
    color: rgb(92, 92, 92);
    }
}
/*Cierra*/ 
