/* Section Servicios*/
.brd{
    margin-top: 30px;
    background: rgb(224, 235, 245);
    border-radius: 18px;
    padding: 50px;
    .hhh1{
    text-align: center;
    justify-content: center;
    color: rgb(92, 92, 92);
    }
}

/*Section*/

.services-area{
    padding: 1rem;
    .services-title{
        h1{
            font-size: 35px;
        }
    }
    .services-list{
        .services{
            border: 1px solid rgb(246, 255, 116);
            border-radius: 6px;
            background: rgba(255, 255, 255, 0.973);
            padding: 25px;
            width: auto;
            margin: 25px;
            transition: box-shadow .7s ease;
            .ppp{
                font-size: 35px;
                color: rgb(19, 168, 255);
            }
        }
    }   
}

.hhh2{
    font-size: 20px;
    color: rgb(0, 0, 0);
    &:hover{
        color: rgb(2, 128, 212);
    }
}

/*Cierra*/ 